<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>439712658549-rnukeu8t0sibtpora398llkvffvgbrd1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.439712658549-rnukeu8t0sibtpora398llkvffvgbrd1</string>
	<key>API_KEY</key>
	<string>AIzaSyDmb6XmNo0QVZ_1-CV0UTIJnNoSSAVGPl8</string>
	<key>GCM_SENDER_ID</key>
	<string>439712658549</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hunterstevenshaw.chitchat</string>
	<key>PROJECT_ID</key>
	<string>pawpal-4b69d</string>
	<key>STORAGE_BUCKET</key>
	<string>pawpal-4b69d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:439712658549:ios:53da5a2a43c41b39a8b43c</string>
	<key>DATABASE_URL</key>
	<string>https://pawpal-4b69d-default-rtdb.firebaseio.com</string>
</dict>
</plist>